<p id="notice"><%= notice %></p>

<h1>Alvos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alvos.each do |alvo| %>
      <tr>
        <td><%= alvo.nome %></td>
        <td><%= link_to 'Show', alvo %></td>
        <td><%= link_to 'Edit', edit_alvo_path(alvo) %></td>
        <td><%= link_to 'Destroy', alvo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alvo', new_alvo_path %>
