
<p id="notice" ><%= notice %></p>

<div class="row"></div>
  <h1 class="">Alvos</h1>
  
  <table class="table table-striped table-bordered   table-hover">
    <thead class="">
      <tr>
        <th>Alvo</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Deletar</th>
              
      </tr>
    </thead>
  
    <tbody>
      <% @alvos.each do |alvo| %>
        <tr>
          <td><%= alvo.nome %></td>
          <td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, alvo %></td>
          <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_alvo_path(alvo) %></td>
          <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, alvo_path(alvo), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>

<%= link_to 'Criar Novo Alvo', new_alvo_path ,class: "btn btn-primary"%>
<%= link_to 'Voltar Para Página Inicial', root_path,class: "btn btn-success" %>
