<div class="row">
  <div class="col-sm">
    <h1><%= fa_icon ' bullseye' %> Alvos</h1>
  </div>
  <div class="col-sm text-right">
    <div class="btn-group" role="group" aria-label="Opções">
      <%= link_to fa_icon('plus', text: 'Novo Alvo'), new_alvo_path, class: "btn btn-info" %>
    </div>
  </div>
</div>
<% if @alvos.empty? %>
  <p>Nenhum alvo encontrado.</p>
<% else %>
  <table  class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @alvos.each do |alvo| %>
        <tr>
          <td><%= alvo.nome %></td>
        
          <td>
            <div class="btn-group" role="group" aria-label="Opções">
              <%= link_to fa_icon('eye', text: 'Detalhar'), alvo, class: "btn btn-sm btn-info" %>
              <%= link_to fa_icon('pencil', text: 'Editar'), edit_alvo_path(alvo), class: "btn btn-sm btn-info" %>
              <%= link_to fa_icon('trash', text: 'Apagar'), alvo, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-info" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
 