 
<h1>Bem vindo ao Alan_BOT</h1>
</br>
<hr>
	<% if flash[:notice] %>
	<div class="alert alert-success">
		<%= flash[:notice] %>
	</div>
	<% end %>
<div class="row">
   
    <div class="col-md-6">
        <h2>Criar, Ler, Atualizar, Deletar:</h2>
        <div style="display:inline-grid" >
            <button class='btn btn-outline-info space' ><%= link_to 'Usuários <i class="fa fa-user-circle" aria-hidden="true"></i>'.html_safe ,usuarios_path, {class: "del_hover"} %></button>  
            <button class='btn btn-outline-info space' ><%= link_to 'Alvos <i class="fa fa-bullseye" aria-hidden="true"></i>'.html_safe ,alvos_path , {class: "del_hover"} %></button>   
            <button class='btn btn-outline-info space' ><%= link_to 'Informações <i class="fa fa-search" aria-hidden="true"></i>'.html_safe ,informacoes_path , {class: "del_hover"}%></button>    
            <button class='btn btn-outline-info space' ><%= link_to 'Respostas <i class="fa fa-envelope" aria-hidden="true"></i>'.html_safe ,respostas_path , {class: "del_hover"}%></button> 
            <button class='btn btn-outline-info space' ><%= link_to 'Sair <i class="fa fa-times" aria-hidden="true"></i>'.html_safe, deslogar_path, {class: "del_hover"}%></button>     
        </div>
    </div>
</div>