<div class="row">
  <div class="col-sm">
    <h1><%= fa_icon 'info-circle' %> Informação</h1>
  </div>
  <div class="col-sm text-right">
    <div class="btn-group" role="group" aria-label="Opções">
      <%= link_to fa_icon('pencil', text: 'Editar'), edit_usuario_path(@informacao), class: "btn btn-info"%> 
      <%= link_to fa_icon('trash', text: 'Apagar'), @informacao, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-info" %>
      <%= link_to fa_icon('undo', text: 'Voltar'), informacoes_path, class: "btn btn-info" %>
    </div>
  </div>
</div>

<dl>
  <dt>Tipo</dt><dd><%= @informacao.tipo %></dd>
 
</dl>