<div class="row">
  <div class="col-sm">
    <h1><%= fa_icon 'envelope' %> Respostas</h1>
  </div>
  <div class="col-sm text-right">
    <div class="btn-group" role="group" aria-label="Opções">
      <%= link_to fa_icon('plus', text: 'Nova Resposta'), new_resposta_path, class: "btn btn-info" %>
    </div>
  </div>
</div>

<% if @respostas.empty? %>
  <p>Nenhuma resposta encontrada.</p>
<% else %>
  <table  class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Mensagem</th>
        <th>Alvo</th>
        <th>Informação</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @respostas.each do |resposta| %>
        <tr>
          <td><%= resposta.mensagem %></td>
          <td><%= resposta.alvo.nome %></td>
          <td><%= resposta.informacao.tipo %></td>
          <td>
            <div class="btn-group" role="group" aria-label="Opções">
              <%= link_to fa_icon('eye', text: 'Detalhar'), resposta, class: "btn btn-sm btn-info" %>
              <%= link_to fa_icon('pencil', text: 'Editar'), edit_resposta_path(resposta), class: "btn btn-sm btn-info" %>
              <%= link_to fa_icon('trash', text: 'Apagar'), resposta, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-info" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>