<div class="row">
  <div class="col-sm">
    <h1><%= fa_icon 'comment' %> Mensagens</h1>
  </div>
  <div class="col-sm text-right">
    <div class="btn-group" role="group" aria-label="Opções">
      <%#= link_to fa_icon('plus', text: 'Nova Mensagem'), new_mensagem_path, class: "btn btn-info" %>
    </div>
  </div>
</div>

<% if @mensagens.empty? %>
  <p>Nenhuma mensagem encontrada.</p>
<% else %>
  <table  class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Texto</th>
        <th>Resposta</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @mensagens.each do |mensagem| %>
        <tr>
          <td><%= mensagem.texto %></td>
          <td>
            <% if mensagem.resposta %>
              <%= mensagem.resposta.mensagem %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Opções">
              <%= link_to fa_icon('eye', text: 'Detalhar'), mensagem, class: "btn btn-sm btn-info" %>
              <%= link_to fa_icon('pencil', text: 'Editar'), edit_mensagem_path(mensagem), class: "btn btn-sm btn-info" %>
              <%= link_to fa_icon('trash', text: 'Apagar'), mensagem, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-info" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
