<div class="row">
  <div class="col-sm">
    <h1><%= fa_icon 'user-circle' %> Usuários</h1>
  </div>
  <div class="col-sm text-right">
    <div class="btn-group" role="group" aria-label="Opções">
      <%= link_to fa_icon('plus', text: 'Novo Usuário'), new_usuario_path, class: "btn btn-info" %>
    </div>
  </div>
</div>

<% if @usuarios.empty? %>
  <p>Nenhum usuário encontrado.</p>
<% else %>
  <table  class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Matrícula</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.nome %></td>
          <td><%= usuario.matricula %></td>
          <td>
            <div class="btn-group" role="group" aria-label="Opções">
              <%= link_to fa_icon('eye', text: 'Detalhar'), usuario, class: "btn btn-sm btn-info" %>
              <%= link_to fa_icon('pencil', text: 'Editar'), edit_usuario_path(usuario), class: "btn btn-sm btn-info" %>
              <%= link_to fa_icon('trash', text: 'Apagar'), usuario, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-info" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>